name: Test Shell Script

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  shellcheck:
    name: ShellCheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
          scandir: './bin'
          severity: warning

      - name: Run Unit Tests
        run: |
          chmod +x tests/test_doze_simulator.sh
          ./tests/test_doze_simulator.sh
